.portfolio {
  border: #4e7bcc 1px solid; /*境界線の指定*/
  padding-left: 10%;
  margin: 2%;
  width: 30%;
}

.portfolio_edit {
  border: #4e7bcc 1px solid; /*境界線の指定*/
  padding: 3px;
  margin-left: 2%;
}
.portfolio_delete {
  border: #4e7bcc 1px solid; /*境界線の指定*/
  padding: 3px;
  margin-left: 2px;
}

.portfolio-container {
  border: #404040 1px solid; /*境界線の指定*/
  width: 30%;
  padding: 15px;
  padding-top: 1px;
  margin: 2%;
}

.portfolio-container-content {
  border: #404040 1px dashed; /*境界線の指定*/
  width: 75%;
  padding: 15px;
  padding-top: 1px;
  margin: 2%;
  height: 100px;
}
