{% extends "base.html" %} {% block title %}ホーム{% endblock %} {% block content
%}
<div class="container">
  <h1>Portfolio</h1>
  <form method="POST" action="{{ url_for('portfolio') }}">
    {{ form.hidden_tag() }}
    <div>{{ form.title.label }} {{ form.title }}</div>
    <div>{{ form.content.label }} {{ form.content }}</div>
    <div>{{ form.submit() }}</div>
  </form>
  {% for portfolio in portfolios %}
  <div class="portfolio">
    <h2>
      <a
        href="{{ url_for('show_portfolio_with_comment', portfolio_id=portfolio.id) }}"
        >{{ portfolio.title }}</a
      >
    </h2>
    <p>{{ portfolio.created_at }}</p>
  </div>
  {% endfor %}
  <a href="{{ url_for('index') }}">ホームに戻る</a>
</div>
{% endblock %}
