{% extends "base.html" %} {% block title %}ホーム{% endblock %} {% block content
%}
<div class="container">
  <h1>{{ portfolio.title }}</h1>
  <p><strong>作成日:</strong> {{ portfolio.created_at }}</p>
  <div>{{ portfolio.content }}</div>

  <h2>コメントと評価</h2>

  <ul>
    {% for comment in comments %}
    <li>
      <strong>評価:</strong> {{ comment['rating'] }} <br />
      {{ comment['comment'] }}
    </li>
    {% endfor %}
  </ul>

  <a href="{{ url_for('portfolio') }}">ポートフォリオ一覧に戻る</a>
</div>
{% endblock %}
