<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='eportfolio.css') }}"
    />
  </head>
  <body>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if 'user_id' not in session %}
        <li><a href="{{ url_for('index') }}">ホーム</a></li>
        <li><a href="{{ url_for('register') }}">登録</a></li>
        <li><a href="{{ url_for('login') }}">ログイン</a></li>
        {% else %}
        <li><a href="{{ url_for('teacher_dashboard') }}">ダッシュボード</a></li>
        <li><a href="{{ url_for('logout') }}">ログアウト</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="container">
      <h1>生徒検索</h1>
      <p>ユーザーネームを入力してください</p>
      <form method="POST" action="{{ url_for('teacher_dashboard') }}">
        {{ form.hidden_tag() }} {{ form.search_query.label }} {{
        form.search_query() }} {{ form.submit() }}
      </form>
      <ul>
        {% for student in students %}
        <li>
          <a href="{{ url_for('view_portfolio', student_id=student['id']) }}"
            >{{ student['username'] }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <a href="{{ url_for('logout') }}">Logout</a>
    </div>
  </body>
</html> -->

{% extends "base2.html" %} {% block title %}ホーム{% endblock %} {% block
content %}
<div class="container">
  <h1>生徒検索</h1>
  <p>ユーザーネームを入力してください</p>
  <form method="POST" action="{{ url_for('teacher_dashboard') }}">
    {{ form.hidden_tag() }} {{ form.search_query.label }} {{ form.search_query()
    }} {{ form.submit() }}
  </form>
  <ul>
    {% for student in students %}
    <li>
      <a href="{{ url_for('view_portfolio', student_id=student['id']) }}"
        >{{ student['username'] }}</a
      >
    </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('logout') }}">Logout</a>
</div>
{% endblock %}
