{% extends "base2.html" %} {% block title %}ホーム{% endblock %} {% block
content %}
<div class="container">
  <h1>生徒検索</h1>
  <p>ユーザーネームを入力してください</p>
  <form method="POST" action="{{ url_for('teacher_dashboard') }}">
    {{ form.hidden_tag() }}
    <div>{{ form.search_query.label }} {{ form.search_query() }}</div>
    <!-- <div>{{ form.tags.label }} {{ form.tags() }}</div> -->
    <div>{{ form.submit() }}</div>
  </form>
  <ul>
    {% for student in students %}
    <li>
      <a href="{{ url_for('view_portfolio', student_id=student['id']) }}"
        >{{ student['username'] }}</a
      >
    </li>
    {% endfor %}
  </ul>
  <ul>
    <li><a href="{{ url_for('students_list') }}">生徒一覧を見る</a></li>
    <li><a href="{{ url_for('logout') }}">ログアウト</a></li>
  </ul>
</div>
{% endblock %}
