<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Portfolio</title>
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='eportfolio.css') }}"
    />
  </head>
  <body>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if 'user_id' not in session %}
        <li><a href="{{ url_for('index') }}">ホーム</a></li>
        <li><a href="{{ url_for('register') }}">登録</a></li>
        <li><a href="{{ url_for('login') }}">ログイン</a></li>
        {% else %}
        <li><a href="{{ url_for('teacher_dashboard') }}">ダッシュボード</a></li>
        <li><a href="{{ url_for('logout') }}">ログアウト</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="container">
      <h1>{{ student['username'] }}'s Portfolio</h1>
      <ul>
        {% for portfolio in portfolios %}
        <li>
          <a
            href="{{ url_for('show_portfolio_with_comment', portfolio_id=portfolio.id) }}"
            >{{ portfolio.title }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <a href="{{ url_for('teacher_dashboard') }}">Back to Dashboard</a>
    </div>
  </body>
</html> -->

{% extends "base2.html" %} {% block title %}ホーム{% endblock %} {% block
content %}
<div class="container">
  <h1>{{ student['username'] }}のポートフォリオ</h1>
  <ul>
    {% for portfolio in portfolios %}
    <li>
      <a
        href="{{ url_for('show_portfolio_with_comment', portfolio_id=portfolio.id) }}"
        >{{ portfolio.title }}</a
      >
    </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('teacher_dashboard') }}">生徒検索に戻る</a>
</div>
{% endblock %}
